/* Top nav bar for the splash page */
.nav-container{
  background-color: white;
  height: 7.5vh;
  display: flex;
  align-items: center;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  box-shadow: 0 0 5px 0 black;
}


.nav-container-right a{
  color: black;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}

.nav-container-right .sign-up{
  padding: 10px 30px;
  margin: 0px 30px;
  color: #00a82d;
  font-weight: 600;
  border: 3px solid #00a82d;
}

.nav-container ul{
  list-style: none;
}

/* User left nav bar (when signed in)*/
.user-nav-container {
  height: 100vh;
  width: 20vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-nav-selection{
  display: flex;
  align-items:  center;
  height: 30px;

}

.user-nav-selection a, i{
  color: #bfbfbf;
}

.user-nav-selection .fa-circle-plus{
  display: none;
}

.user-nav-container .active{
  background-color: rgba(#bfbfbf, 0.2) ;
  width: 100%;

}


.user-nav-selection:hover{
  background-color: grey ;
  width: 100%;
}
