/* Top nav bar for the splash page */
.nav-container{
  background-color: white;
  height: 8.5vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  z-index: 2;
    box-shadow: 0 0 5px 0 black;
}



.nav-container-right a{
  color: black;
  font-weight: 300;
  font-size: 20px;

}

.nav-container-right .sign-up{
  padding: 10px 20px;
  margin: 0px 20px;
  color: rgb(0, 168, 45);
  font-weight: 500;
  border: 3px solid rgb(0, 168, 45);
}



/* User left nav bar (when signed in)*/
.user-nav-container {
  height: 100vh;
  min-width: 20vh;
  max-width: 20vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.profile-btn{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10%;
  margin: 3vh 0px 2vh 0px;
  background-color:rgb(0, 168, 45) ;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  overflow-x: hidden;
  font-weight: 400;
}

.profile-btn img{
  max-width:20%;
  border-radius: 50%;
  margin-right: 5px;
}


.profile-btn:hover{
  opacity: .90;
}

.nav-logout{
  color:white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  transition: color .5s ease-in-out;
}

.nav-logout p {
  margin-left: 5px;
  font-size: 12px;
}

.nav-logout:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}


.user-nav-selection-container{
  margin-top: 5vh;
}

.user-nav-selection{
  display: flex;
  align-items:  center;
  height: 3.0rem;
  transition: all .3s ease-in-out;
  /* This might be taken out of when the list */
  padding-left: 15%;
}

.user-nav-selection span{
  font-size: 16px;
  font-weight: 300;
  margin-left: 10px;
}

/* .user-nav-selection-caret{
  margin-left: 3%;
  margin-right: 2%;
} */

/* .selection-no-caret{
  margin-left: 15%;
} */

.user-nav-selection .react-icons{
  font-size:1.3em;

}

.user-nav-selection *{
  color: #bfbfbf;
  cursor: pointer;
}

 .plus{
  margin-left: auto;
  margin-right: 6%;
  display: none;
  transition: all .5s ease-in-out;
}

.active-nav *{
  color:rgb(0, 168, 45) ;
}

.user-nav-selection:hover{
  background-color: grey ;

}
.user-nav-selection:hover .plus{
  display: flex;
}

.plus:hover{
 color: rgb(0, 168, 45)  ;
}


@media screen and (max-width: 576px){
  .user-nav-container{
    min-width: 7.0vh ;
    max-width: 7.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-nav-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .profile-btn{
    width: 90%;
  }

  .profile-btn p{
    display: none;

  }

  .profile-btn img{
   max-width: 50%;
   margin: auto;
  }


  .nav-logout p{
    display: none;
  }

  .profile-btn {
    max-height: 5vh;
  }


  .user-nav-selection span,  .user-nav-selection .user-nav-selection-caret{
    display: none;
  }

  .user-nav-selection{
   padding-bottom: 3vh;
  }

  .user-nav-selection .react-icons{
    font-size: 35px;
  }
  .user-nav-selection:hover {
    background-color: black;
  }

  .user-nav-selection:hover .plus{
    display: none;
  }

  .user-nav-selection .react-icons:hover{
    color: rgb(0, 168, 45);
    transform: scale(1.2);
  }

}
