.splash-page {
  width: 100%;
  height: auto;
}

.welcome-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 11.5vh;
}

.welcome-container h1 {
  font-size: 56px;
  line-height: 100%;
}

.welcome-container p{
  width: 50%;
  font-size: 22px;
  text-align: center;
}

.welcome-container .splash-btn {
  background-color: black;
  width: 200px;
  margin-bottom: 20px;
}

.welcome-container a {
  color: black;
  text-decoration: underline;
}



.mid-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0px;
}
.mid-container img {
  width: 50%;
}

.mid-left-container {
  width: 15%;
}

.mid-left-container .heading p{
  font-weight: 900;
  margin-top: 30px;
}

.mid-left-container .description p {
  line-height: 1.5em;
  width: 80%;

}



footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12vh;
}

.top-footer {
  width: 100%;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  justify-content: space-around;
  border-top: 1px solid rgba(0, 0, 0, 0.45);
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  background-color: #bfbfbf64;
  color: #6f6f6f;
}

.bottom-footer {
  margin-top: 20px;
  color: #6f6f6f;
  font-size: 1.2rem;
}

.bottom-footer a {
  color: #6f6f6f;
  margin-right: 5px;
}
